* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    background-color: #8762D9;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #222940;
}

.content-container {
    padding: 2%;
    background: rgba( 255, 255, 255, 0.4 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    transition: ease-in-out 0.5s;

}

.cropper-container {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 720px;
    justify-content: center;
    align-items: center;
    /* height: 405px; */

}

.cropper-container video {
    width: 100%;
    height: 100%;
}

.cropper-cam {
    position: absolute;
}

.cropper-video {
    position: absolute;
}

.drag-drop-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fe7eeb;

}

.drag-drop-container h1 {
    text-align: center;
    position: absolute;
    top: 25%;
    font-size: 8em;
    color: white;
}

.drag-drop-container p {
    color: #7D4433;
    margin: 2% 20%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}

.drag-drop-container div {
    height: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.4 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.drag-drop-container div:hover {
    width: 80%;
    height: 80%;
    transition: ease-in-out 0.5s;
}

.drag-drop-container button {
    background: rgba( 255, 255, 255, 0.4 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    height: 5vh;
    color: #7D4433;
    transition: ease-in-out 0.3s;
}

.drag-drop-container button:hover {
    background-color: #fe7eeb;
    transition: ease-in-out 0.3s;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    color: #222940;
    font-weight: 600;
}

.form-container form>div {
    display: flex;
}

.form-container input {
    background: rgba( 255, 255, 255, 0.4 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: none;
    height: 2.5em;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.form-container button {
    background: rgba( 255, 255, 255, 0.4 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: none;
    height: 2.5em;
    margin: 5px;
    color: #222940;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}


.video-trim-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.trim-control-left {
    height: 3vh;
    background-color: yellow;
    border: 2px solid yellow;
    width: 2%;
}

.trim-control-right {
    height: 3vh;
    background-color: yellow;
    border: 2px solid yellow;
    width: 2%;
}

.trim-control-middle {
    height: 3vh;
    border: 2px solid yellow;
    width: 96%;
    background-color: grey;
}

.preview-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: none;
    width: 228px;
    padding: 50px;
    z-index: 3;
    top: 5vw;
    left: calc(50vw - 164px);
}

#close-preview {
    position: absolute;
    top: 0.5vw;
    left: 1vw;
}

#close-preview:hover {
    cursor: pointer;
}

/* .preview-container div {
    display: flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: none;
    width: 300px;
    padding: 50px;
} */

#dl-button {
    margin-top: 20px;
}

#loading {
    max-width: 50px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .menu-page-container {
    background-color: #fe7eeb;
}

.menu-page-container h1 {
    text-align: center;
    color: #7D4433;
    font-size: 3em;
}

.menu-container {
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}



.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.img-container h3 {
    
}

.template-title {
    position: absolute;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 20%;
    color: #7D4433;
    font-size: 2em;
    text-decoration: none;
}

.img-container img {
    max-width: 200px;
    max-height: 70%;
} */

.menu-page-container {
    background-color: #1A1A1A;
    height: 100%;
    min-height: 100vh;
    padding: 10%;
}

.menu-page-container>h1 {
    color: #F2507B;
    font-size: 3em;
    text-align: center;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    border-radius: 10px;
    padding: 2%;
    border: 2px solid #F2507B;
    transition: ease-in-out 0.5s;
}

.item-container button {
    margin: 20px 20px;
    background-color: #8762D9;
    border: 1px solid #F2EFDF;
    border-radius: 5px;
    color: #F2EFDF;
    transition: ease-in-out 0.3s;
}

.item-container button:hover {
    font-size: 1.1em;
    transition: ease-in-out 0.3s;
    background-color: #F2507B;
    color: #222940;
    border: 1px solid #222940;
}

.item-container h3 {
    margin-bottom: 10px;
}

.item-container p, h3 {
    color: #F2EFDF;
    margin: 0 20px;
}

.item-container li {
    color: #F2EFDF;
}

.item-container img {
    max-width: 200px;
    max-height: 200px;
    border-right: 2px solid #F2507B;
    padding-right: 10px;
}

.item-container:hover {
    background: #8762D9;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    border: none;
}

.product-text {
    display: flex;
    flex-direction: column;
}

.product-text>p {
    margin-top: 20px;
}

.landing-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #1A1A1A;   
    overflow-x: hidden;
}

.landing-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding: 3%;
}

.landing-text h1 {
    font-size: 8em;
    max-width: 45%;
    color: #F2507B;
}

.landing-text p {
    font-size: 1.6em;
    color: #8762D9;
}

.landing-text button {
    width: 20vw;
    margin-top: 5vh;
    height: 8vh;
    border-radius: 2vh;
    background-color: #1A1A1A;
    border: 5px solid #F2507B;
    color: #F2507B;
    font-size: 1.3em;
    cursor: pointer;
}

.landing-img {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: min(10%, 20%);
}

.landing-img img {
    max-height: 50%;
    margin: 0 1vw;
}

#carrot {
    position: absolute;
    color: #F2507B;
    top: 95%;
    left: 50%;
    transform: translate(-95%, -50%);
    font-size: 3em;
}

.tutorial-container {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;   
    align-items: center;
}

.video-edit-container {
    display: flex;
    /* width: 100%; */
    background-color: #1A1A1A;
    height: 100vh;
    flex-direction: column;
}

.control-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: space-between;
}

.canvas-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    width: 100%;
}

.left-buttons {
    flex: 3;
    background-color: #8762D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-buttons div {
    padding: 1%;
    text-align: center;
}

.left-buttons input {
    text-align: center;
}

.right-buttons {
    flex: 2;
    background-color: #F2507B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 420;
    padding: 8%;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            radial-gradient(#f2507b 0%, #8762d9 43%, #f2507b 66.115%, #8762d9 100%);
    border-radius: 8px;
    background-color: #1A1A1A;
    padding: 16px;
    box-shadow: 10px 10px 10px #1A1A1A;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container-style div {
    background-color: #8762D9;
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-container-style div>a {
    color: white;
    padding: 20px;
    text-decoration: none;

}